html{
    font-size: 100%;
    box-sizing: border-box;
    
}
*, *::before,*::after{
    box-sizing: inherit;
   
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: var(--font-inter);
}
a,a:visited,a:active{
    text-decoration: none;
}